.entities-container {
  display: flex;
  flex-direction: row;
  margin: 20px;

  & .entity-heading {
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 20px;
  }
}

.library-container {
  width: 50%;
  margin: 10px;
}

.home-link, .logout-link{
  padding: 10px;
}

.edit-genre-input, .edit-author-input {
  padding: 5px;
}


.add-genre, .add-author {
  width: 50%;

  & .section {
    border: 1px solid #575151;
    padding: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
}

.add-new {
  padding: 10px;
}
