<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.less}" rel="stylesheet/less"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <title>Library</title>
</head>
<body>
<div class="entities-container">
    <div class="entity-heading">
        <a href="/books">Books</a>
    </div>
    <div class="entity-heading">
        <a href="/authors">Authors</a>
    </div>
    <div class="entity-heading">
        <a href="/genres">Genres</a>
    </div>
</div>


</body>
<script type="text/javascript" src="/webjars/less/3.8.1/less.js"></script>
</html>