<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/../../css/main.less}" rel="stylesheet/less"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <title>Add new author</title>
</head>
<body>
<span><a th:href="@{'/'}" th:text="'Home'"></a></span>

<form th:action="@{/authors/new}" method="post">
    <div class="edit-book__section">
        <span class="edit-book__section_label">Name:</span>
        <input class="edit-book__name_value" type="text" name="name"/>
    </div>
    <input type="submit" value="Save"/>

</form>
</body>
<script type="text/javascript" src="/webjars/less/3.8.1/less.js"></script>
</html>