<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/../../css/edit-book.less}" rel="stylesheet/less"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <title>Add new book to library</title>
</head>
<body>
<div th:insert="fragments/editAuthorTemplate::edit-author"></div>
<div th:insert="fragments/editGenresTemplate::edit-genres"></div>
<div class="library-vue-root">
    <span><a th:href="@{'/'}" th:text="'Home'"></a></span>

    <form th:action="@{/books/new}" method="post">
        <div class="edit-book__section">
            <span class="edit-book__section_label">Name:</span>
            <input class="edit-book__name_value" type="text" name="name"/>
        </div>


        <edit-author-component th:attr="all-authors=${allAuthors}">

        </edit-author-component>
        <edit-genres-component th:attr="all-genres=${allGenres}">

        </edit-genres-component>
        <input type="hidden" v-model="selectedAuthor" name="authorId"/>
        <input type="hidden" v-model="selectedGenres" name="genres"/>
        <input type="submit"/>

    </form>
</div>
</body>
<script type="text/javascript" src="/webjars/less/3.8.1/less.js"></script>
<script type="text/javascript" src="/webjars/vue/2.6.11/vue.js"></script>
<script type="text/javascript" th:src="@{../../js/editAuthorComponent.js}"
        src="../static/js/editAuthorComponent.js"></script>
<script type="text/javascript" th:src="@{../../js/editGenresComponent.js}"
        src="../static/js/editGenresComponent.js"></script>
<script type="text/javascript" th:src="@{../../js/Root.js}" src="../static/js/Root.js"></script>
</html>