<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/../../css/main.less}" rel="stylesheet/less"/>

    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <title th:value="'Add commentary'"></title>
</head>
<body>
<div class="library-container">
    <span class="home-link"><a th:href="@{'/'}" th:text="'Home'"></a></span>
    <form th:action="@{'/commentaries/new/' + ${bookId}}" method="post">
        <div class="section">
            <span class="edit-book__section_label" th:value="'Add commentary'"></span>
            <textarea class="form-control" name="content"></textarea>
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>


    </form>
</div>


</body>
<script type="text/javascript" src="/webjars/less/3.8.1/less.js"></script>
</html>