<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataLoader" class="ru.otus.spring.hometask01.loader.ResourceFileDataLoader">
        <constructor-arg name="questionsResource" value="questions.csv"/>
    </bean>

    <bean id="dataParser" class="ru.otus.spring.hometask01.parser.DataParserImpl">
        <constructor-arg name="dataLoader" ref="dataLoader"/>
    </bean>

    <bean id="ioFactory" class="ru.otus.spring.hometask01.factory.IOFactory"></bean>

    <bean id="ioService" class="ru.otus.spring.hometask01.io.IOService" factory-bean="ioFactory"
          factory-method="getStandardIOService"/>

    <bean id="userDataService" class="ru.otus.spring.hometask01.service.UserDataServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="questionsProcessor" class="ru.otus.spring.hometask01.service.QuestionsProcessorImpl">
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="studentsTestExecutor" class="ru.otus.spring.hometask01.executor.StudentsTestExecutorImpl">
        <constructor-arg name="dataParser" ref="dataParser"/>
        <constructor-arg name="userDataService" ref="userDataService"/>
        <constructor-arg name="questionsProcessor" ref="questionsProcessor"/>
    </bean>

</beans>
